@{
    ViewData["Title"] = "Acerca de mí";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    PERFIL PROFESIONAL

    Soy una persona honesta, dinámica y responsable que tiene clara sus metas. He trabajado liderando equipos de trabajo, con facilidad para tomar decisiones, poseo conocimiento en manejo de herramientas ofimáticas, C# (ASP.NET, Xamarin forms), bases de datos, administración de redes con Zentyal, Mikrotik y Windows Server entre otros; además del área de sistemas también he trabajado en áreas como contabilidad y producción, lo que me ayuda a tener un enfoque más integral de los procesos.  Soy estudiante apasionado de ingeniería de sistemas y con ganas de adquirir experiencias enriquecedoras para el ser y el hacer.
</p>
