@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Celular: 300 678 56 30<br />
    <strong>Soporte:</strong> <a href="mailto:nelpaga@hotmail.com">nelpaga@hotmail.com</a><br />
</address>

