@model TrendaTest.Web.Data.Entities.Tienda

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Tienda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaApertura)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaApertura)
        </dd>
    </dl>
</div>
<div>
    <input type="submit" value="Guardar" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-success">Atrás</a>
</div>
